/* If you update these styles make sure to also change apps/docs/src/theme/CodeBlock/Content/styles.module.css */
.playgroundEditor pre {
  white-space: pre !important;
  padding: var(--space-2) !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  color: var(--color-fg) !important;
  font-family:
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.sandpackEditor .cm-gutters {
  border-right: none;
}

.sandpackEditor {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.sandpackEditor .cm-content {
  padding: var(--space-1) var(--space-2);
  tab-size: 2;
}

.sandpackEditor .cm-scroller {
  overflow: auto;
  max-height: 304.5px;
  scrollbar-color: var(--color-line) transparent;
}
